<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/layout :: head"></head>

    <body id="page-top">

        <nav th:replace="layout/layout :: nav"></nav>

        <div id="wrapper">

            <ul th:replace="layout/layout :: sidebar"></ul>

            <div id="content-wrapper">

                <div class="container-fluid">

                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/productos/ver_productos}">Productos</a>
                        </li>
                        <li class="breadcrumb-item active">Registrar Producto</li>
                    </ol>

                    <!-- Ver Clientes -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-area"></i>
                            Registrar Producto</div>
                        <div class="card-body">
                            <form class="needs-validation" novalidate style="margin: 20px;"
                                  th:action="@{/productos/registrar}"
                                  th:object="${producto}" method="post" enctype="multipart/form-data"> 
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-6 col-xl-6" th:if="${editar}">
                                        <br>
                                        <img class=""
                                             style="max-width: 45%;" th:src="@{'/productos/uploads/' + ${producto.foto}}"
                                             th:alt="${producto.foto}" />
                                        <br>
                                        <label for="imagen" style="color:green;">Imagen anterior</label>
                                    </div>
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-6 col-xl-6" th:if="${editar}">
                                        <br>
                                        <div class="custom-file">
                                            <div class="imagePreview"></div>
                                            <label for="file" th:text="${inf_img}"></label>
                                            <input type="file" name="file" class="form-control-file" id="file" onchange="previewImage(this, [256], 4);" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-12 col-xl-12" th:if="${editar == false}">
                                        <br>
                                        <div class="custom-file">
                                            <div class="imagePreview"></div>
                                            <label for="file" th:text="${inf_img}"></label>
                                            <input type="file" name="file" class="form-control-file" id="file" onchange="previewImage(this, [256], 4);" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-4 col-xl-4">  
                                        <br>
                                        <label for="nombre">Nombre del Producto: </label>
                                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" th:field="*{nombre}" maxlength="25" required>
                                    </div>
                                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <br>
                                        <label for="modelo">Modelo: </label>
                                        <input type="text" class="form-control" id="modelo" placeholder="Modelo" th:field="*{modelo}" maxlength="15" required>
                                    </div>
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-4 col-xl-4">
                                        <br>
                                        <label for="precio">Precio: </label>
                                        <input type="number" class="form-control" id="precio" placeholder="Precio" min="0" th:field="*{precio}" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-4 col-xl-4">
                                        <br>
                                        <label for="buscar_proveedor">Proveedor: </label>
                                        <input type="text" class="form-control" id="buscar_proveedor" name="buscar_proveedor" th:placeholder="${inf1}" required/>
                                    </div>
                                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <br>
                                        <label for="buscar_categoria">Categoria: </label>
                                        <input type="text" class="form-control" id="buscar_categoria" name="buscar_categoria" th:placeholder="${inf2}" required/>
                                    </div>
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-4 col-xl-4">
                                        <br>
                                        <label for="buscar_marca">Marca: </label>
                                        <input type="text" class="form-control" id="buscar_marca" name="buscar_marca" th:placeholder="${inf3}" required/>
                                    </div>
                                </div>
                                <br>
                                <input type="hidden" id="ingresar_proveedor" name="ingresar_proveedor" th:field="*{proveedor}" required />
                                <input type="hidden" id="ingresar_categoria" name="ingresar_categoria" th:field="*{categoria}" required />
                                <input type="hidden" id="ingresar_marca" name="ingresar_marca" th:field="*{marca}" required />

                                <button class="btn btn-primary" type="submit" style="margin-left: 2px;">Enviar</button> <a class="btn btn-danger" th:href="@{/productos/ver_productos}">Cancelar</a>
                                <br>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <div th:replace="layout/layout :: logout"></div>
        <a th:replace="layout/layout :: scroll"></a>
        <footer th:replace="layout/layout :: footer"></footer>
        <script th:replace="clientes/js/autocomplete-ciudad :: javascript"></script>
        <script th:replace="productos/js/autocomplete-marca :: javascript_marca"></script>
        <script th:replace="productos/js/autocomplete-categoria :: javascript_categoria"></script>
        <script th:replace="productos/js/autocomplete-proveedor :: javascript_proveedor"></script>

    </body>

</html>
