<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/layout :: head"></head>

    <body id="page-top">

        <nav th:replace="layout/layout :: nav"></nav>

        <div id="wrapper">

            <ul th:replace="layout/layout :: sidebar"></ul>

            <div id="content-wrapper">

                <div class="container-fluid">

                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/proveedores/ver_proveedores}">Proveedores</a>
                        </li>
                        <li class="breadcrumb-item active">Ver Proveedores</li>
                    </ol>

                    <!-- Ver Clientes -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-area"></i>
                            Lista de Proveedores</div>
                        <div class="card-body">

                            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${nuevo != null}" th:text="${nuevo}"> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${eliminar != null}" th:text="${eliminar}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${existente != null}" th:text="${existente}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${editar != null}" th:text="${editar}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <table id="tabla" class="table table-hover  text-center table-responsive-xl table-bordered" style="width:100%">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Ciudad</th>
                                        <th>Opciones</th>     
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="proveedor : ${proveedores}">
                                        <td th:text="${proveedor.nombre}"></td>
                                        <td th:text="${proveedor.direccion}"></td>
                                        <td th:text="${proveedor.tel}"></td>
                                        <td th:text="${proveedor.ciudad}"></td>
                                        <td>
                                            <a class="btn btn-primary" th:href="@{/proveedores/detalles/} + ${proveedor.id}"><i class="fas fa-user" style="color: white; font-size: 15px;"></i></a>
                                            <a class="btn btn-warning" th:href="@{/proveedores/editar/} + ${proveedor.id}"><i class="fas fa-user-edit" style="color: white; font-size: 15px;"></i></a>
                                            <a class="btn btn-danger" th:href="@{/proveedores/borrar/} + ${proveedor.id}"><i class="fas fa-user-minus" style="color: white; font-size: 15px;"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Ciudad</th>
                                        <th>Opciones</th>            
                                    </tr>
                                </tfoot>
                            </table>
                            <br>
                            <a class="btn btn-success" th:href="@{/proveedores/registrar}"><i class="fas fa-user-plus" style="color:white; font-size: 15px;"></i> Registrar Proveedor</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar"></i>
                                    Bar Chart Example</div>
                                <div class="card-body">

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-chart-pie"></i>
                                    Pie Chart Example</div>
                                <div class="card-body">

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->



            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <div th:replace="layout/layout :: logout"></div>
        <a th:replace="layout/layout :: scroll"></a>
        <footer th:replace="layout/layout :: footer"></footer>

    </body>

</html>
