<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <script type="text/javascript" th:fragment="javascript_producto">

            $(document).ready(function () {
                $("#buscar_producto").autocomplete({
                    source: function (request, response) {
                       
                            $.ajax({
                                url: "/ventas/cargar_producto/" + request.term,
                                datatype: "json",
                                data: {
                                    term: request.term
                                },
                                success: function (data) {
                                    response($.map(data, function (item) {
                                        return {
                                            value: item.id,
                                            label: item.nombre
                                        };
                                    }));
                                },
                            });
                        
                    },
                    select: function (event, ui) {
                        $("#buscar_producto").val(ui.item.label);
                        //$("#buscar_dire").click();

                        $("#ingresar_producto").val(ui.item.value);

                        return false;
                    }
                });
            });

        </script>
    </body>
</html>
