<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/layout :: head"></head>

    <body id="page-top">

        <nav th:replace="layout/layout :: nav"></nav>

        <div id="wrapper">

            <ul th:replace="layout/layout :: sidebar"></ul>

            <div id="content-wrapper">

                <div class="container-fluid">

                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/compras/ver_compras}">Compras</a>
                        </li>
                        <li class="breadcrumb-item active">Registrar Compra</li>
                    </ol>

                    <!-- Ver Clientes -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-area"></i>
                            Registrar Compra</div>
                        <div class="card-body">
                            <form class="needs-validation" novalidate style="margin: 20px;"
                                  th:action="@{/compras/registrar}"
                                  th:object="${compra}" method="post"> 
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                        <label for="buscar_producto">Buscar Producto </label>
                                        <input type="text" class="form-control" id="buscar_producto" name="buscar_producto" th:placeholder="${inf}"/>
                                    </div>
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-4 col-xl-4">
                                        <label>Descripción: </label>
                                        <textarea th:field="*{descripcion}" class="form-control" rows="3" required></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-4 col-xl-4">
                                        <label for="monto_envio">Monto de Envío </label>
                                        <input type="text" class="form-control" id="monto_envio" placeholder="Monto de Envío" th:field="*{monto_envio}">
                                    </div>
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-4 col-xl-4">
                                        <label for="fecha">Fecha de Entrega: </label>
                                        <input type="date" class="form-control" id="fecha" placeholder="Fecha de Entrega" th:field="*{fechaEntrega}">
                                    </div>
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-4 col-xl-4">
                                        <label for="cantidad">Cantidad: </label>
                                        <input type="text" class="form-control" id="cantidad" placeholder="Cantidad" th:field="*{cantidad}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-6 col-xl-6">
                                        <label for="tipo">Método de Pago: </label>
                                        <select class="form-control" th:field="*{metodo_de_pago}">
                                            <option th:each="m: ${metodosdepago}" th:text="${m.metodo}" th:value="${m.id}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12 col-sm-12 ol-md-12 col-lg-6 col-xl-6">
                                        <label for="fecha">Fecha de Compra: </label>
                                        <input type="date" class="form-control" id="fecha" placeholder="Fecha de Compra" th:field="*{fechaCompra}">
                                    </div>
                                </div>

                                <input type="hidden" id="ingresar_producto" name="ingresar_producto" th:field="*{producto}" required />

                                <button class="btn btn-primary" type="submit" style="margin-left: 2px;">Enviar</button> <a class="btn btn-danger" th:href="@{/compras/ver_compras}">Cancelar</a>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <div th:replace="layout/layout :: logout"></div>
        <a th:replace="layout/layout :: scroll"></a>
        <footer th:replace="layout/layout :: footer"></footer>
        <script th:replace="compras/js/autocomplete-producto :: javascript_producto"></script>

    </body>

</html>
